body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#paragrafo-resultado{
    margin-top: 50px;
}
input{
width: 200px;
margin-top: 10px;
}

.resultado{
    padding: 20px;
    border: 1px solid black;

}

.title-resultado{
    text-align: center;
    color: blue;
}

